.section {
  padding: 120px 24px;
  background: radial-gradient(circle at top, #1700af, #4da0ff);
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: white;
  margin-bottom: 60px;
}

/* viewport — ключ */
.viewport {
  overflow: hidden;
  width: 100%;
}

.hook {
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.highlight {
  color: #1f86ff;
}

.track {
  display: flex;
  gap: 28px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  padding: 10px;

  -webkit-overflow-scrolling: touch;
  border-radius: 20px;

}

/* карточки “прилипают” */
.card {
  min-width: 420px;
  border-radius: 28px;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 30px 90px rgba(0, 0, 0, 0.25);
  scroll-snap-align: start;
}

/* скрываем scrollbar */
.track::-webkit-scrollbar {
  display: none;
}

.track {
  scrollbar-width: none;
}

/* 🔥 ВАЖНО: 50% потому что мы дублировали массив */
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

/* pause */
.viewport:hover .track {
  animation-play-state: paused;
}

/* CARD */
.card {
  min-width: 420px;
  border-radius: 28px;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 30px 90px rgba(0, 0, 0, 0.25);
}

/* IMAGE */
.imageBox {
  position: relative;
  height: 260px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: 20px;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

/* PLAY */
.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);

  cursor: pointer;
  transition: 0.25s ease;
}

.playBtn:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background: rgba(31, 134, 255, 0.95);
}

.playIcon {
  color: white;
  font-size: 18px;
}

/* INFO */
.info {
  padding: 18px;
}

.nameRow {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 18px;
  font-weight: 900;
  color: #0b3a8a;
}

.grant {
  color: #1f86ff;
  font-weight: 800;
}

.country {
  color: #1f86ff;
  font-size: 13px;
}
