@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

/* Эффект для Glass Morphism */
.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

/* Плавный скролл */
html.lenis {
  height: auto;
}
